
html{
  background-color: #006d77;
}

.landingPageContainer{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.imageBackground{
  height: 85vh;
  width: 100vw;
  
  
  overflow: hidden;

  background-image: url("../assets/images/logInBkg.jpg");
  background-size: cover; 
  background-position: center center;

  border-bottom:  5px solid #004950;
  border-radius: 0em 0em 4em 4em;
}

.footer{
  display: flex;
  justify-content:space-around ;
  margin-top: 1em;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #D7C0D0; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #006D77; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #843B62; 
}
