
.greenText{
    color: #006d77 !important;
}

.burgundyText{
    color: #843B62 !important;
}

.select-dropdown{
    color: #006d77;
}

ul.dropdown-content.select-dropdown li span {
    color: #843B62; 
}

.coloredBoreder{
    border: 1px #006d77;
}

.transparentBG {
    background-color: rgba(255,255,255,0.2);
}

.btn-small:hover{
    background-color: rgba(215,192,208,0.5);
}
