
.formInputsStyle{ 
    position: relative;
}
  
.float-left{
    float: left;
}

.float-right{
    float: right;
}

.label-right {
    display: inline-block;
    text-align: right;
  }​
  
.titleStyle{
    font-family: 'Montserrat', sans-serif;
    color: #006d77;
}
  